"Daily Weather Observations for {{station.name}}, {{station.tags.region}}for January 2017"
"Prepared at 16:06 GMT on Monday  7 August 2017   IDCJDW5002.201701"
"Copyright 2003 Commonwealth Bureau of Meteorology"
"The "official" Adelaide site is now at West Terrace / ngayirdapira."
"The "official" Adelaide weather observations site is now at West Terrace / ngayirdapira {site number 023000}. This Kent Town site is about 2 km east of the city centre."
"Observations were drawn from Adelaide (Kent Town) {station 023090}"

,"Date","Minimum temperature (°C)","Maximum temperature (°C)","Rainfall (mm)","Evaporation (mm)","Sunshine (hours)","Direction of maximum wind gust ","Speed of maximum wind gust (km/h)","Time of maximum wind gust",{{temp.timestamp.hour=9}},{{humidity.timestamp.hour=9}},{{cloud.timestamp.hour=9}},{{wind.timestamp.hour=9}},{{wind.timestamp.hour=9}},{{mlsp.timestamp.hour=9}},{{temp.timestamp.hour=15}},{{humidity.timestamp.hour=15}},{{cloud.timestamp.hour=15}},{{wind.timestamp.hour=15}},{{wind.timestamp.hour=15}},{{mlsp.timestamp.hour=15}}
{%for temp, wind, timestamp, windm, rain, evap, sun, humidity, cloud, mlsp, tempMIN, tempMAX in station%}
,{{timestamp.date}},{{tempMIN.value}},{{tempMAX.value}},{{rain.value}},{{evap.value}},{{sun.value}},{{windm.value[0]}},{{windm.value[1]}},{{windm.timestamp.time}},{{temp.value}},{{humidity.value}},{{cloud.value}},{{wind.speed.value}},{{wind.value[1]}},{{mlsp.value}},{{temp.value}},{{humidity.value}},{{cloud.value}},{{wind.value[0]}},{{wind.value[1]}},{{mlsp.value}}
{%endfor%}