include README.md
include requirements.txt
recursive-include edam/resources *
recursive-include edam/resources/metadata *
recursive-include edam/resources/flask_related *
recursive-include edam/resources/inputs *
recursive-include edam/resources/templates *
include docs/*
prune tests*