{{station.name}}
Location:{{station.location}}, Lat {{station.latitude}} Lon {{station.longitude}}, {{station.tags.altitude}}
Estimated data is marked with a {{station.qualifiers.estimated}} after the value.
Missing data (more than 2 days missing in month) is marked by  {{station.qualifiers.missing_data}}.
Sunshine data taken from an automatic Kipp & Zonen sensor marked with a {{station.qualifiers.ignore}}, otherwise sunshine data taken from a Campbell Stokes recorder.
   yyyy  mm   tmax    tmin      af    rain     sun
              degC    degC    days      mm   hours
{%for timestamp, tmax,tmin,af,rain,sun in chunk%}
{{timestamp.year}}  {{timestamp.month}}  {{tmax.value}}  {{tmin.value}}  {{af.value}}  {{rain.value}}  {{sun.value}}
{%endfor%}